body {
    padding-top: 0px;
    background: #101010;
    color: #FFFFFF;
}

p {
    text-align: justify;
}

h3 {
    color: #004f76;
    font-weight: bold;
    font-family: Arial;
}

a.member {
    color: #FFFFFF;
    text-decoration: underline;
}