.navbar-brand>img {
  display: inline;
  margin: 0;
  padding: 0;
  margin-top:-10px;
  margin-right: 10px;
  height: 40px;
}

.row-eq-height {
  display: table;
  table-layout: fixed;
}

/* .row-eq-height class from http://getbootstrap.com.vn/examples/equal-height-columns/ */
/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.col-middle {
  vertical-align: middle;
  margin: auto;
}

.publications-members {
}
