.navbar-brand>img {
  display: inline;
  margin: 0;
  padding: 0;
  margin-top:-10px;
  margin-right: 10px;
  height: 40px;
}

.row-eq-height {
  display: table;
  table-layout: fixed;
}

/* .row-eq-height class from http://getbootstrap.com.vn/examples/equal-height-columns/ */
/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.col-middle {
  vertical-align: middle;
  margin: auto;
}

/* .row-centered and .col-centered class from http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-centered-columns */
.row-centered {
  text-align: center;
}

.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

.publications-members {
}

.breadcrumbs-container {
  background:#222;
  color: #9d9d9d;
}

.breadcrumbs-container h1 {
  border-bottom-color: #9d9d9d !important;
  margin-top: 5px;
  text-align: right;
}

.breadcrumb {
  background:#222;
}

.breadcrumb li {
  color: #9d9d9d !important;
}

.navbar-inverse
{
  border-bottom: none;
}

.thumbnail {
  border: none;
}

.thumbnail img {
  width: 45%;
}

.thumbnail .caption {
  padding: 0;
  margin: 0;
  text-align:center !important;
}

.thumbnail .caption h3 {
  font-size: large;
  vertical-align: middle;
}
.thumbnail .caption h3 .flag-icon {
  vertical-align: middle;
  font-size: x-small;
  margin-left: 5px;
}
.thumbnail .caption li {
  font-size: x-small;
}

.flag-icon {
  box-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.compact {
  margin: 0px !important;
}

@media screen and (min-width: 1490px) {
  .home-banner-large {
   background-image: url('/assets/banner-large.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 1490px 520px;
  }
}

.home-banner-xs {
  padding-bottom: 20px;
}

@media screen and (max-width: 1490px) {
  .home-banner-xs {
   background-image: url('/assets/banner.png');
   background-repeat: no-repeat;
   text-align: center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
  }
}
