.navbar-brand>img {
  display: inline;
  margin: 0;
  padding: 0;
  margin-top:-10px;
  margin-right: 10px;
  height: 40px;
}

.row-eq-height {
  display: table;
  table-layout: fixed;
}

.col-eq-height {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

.publications-members {
}
