---
layout: default
title: CNRS-AIST JRL
---
<div class="breadcrumbs-container">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        CNRS-AIST Joint Robotics Laboratory (JRL), UMI3218/RL
      </h1>
    </div>
  </div>
</div>
</div>

<!-- Page Content -->
<div class="container">
  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-danger" role="alert">This site is incomplete. Please come back later.</div>
    </div>
  </div>
    {% capture home_assets %}/assets/pictures/home/{% endcapture %}
    {% for f in site.static_files %}
      {% assign f_base = f.path | remove_first: home_assets %}
      {% if f_base != f.path %}
        {% if carousel_files %}
        {% capture carousel_files %}{{carousel_files}},{{f.path}}{% endcapture %}
        {% else %}
          {% assign carousel_files = f.path %}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% assign carousel_files = carousel_files | split: "," %}
    {% assign carousel_files_size = carousel_files | size %}

  <div class="row">
    <div class="col-md-8 col-xs-8 col-md-offset-2 col-xs-offset-2">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        {% if carousel_files_size != 1 %}
        <!-- Indicators -->
        <ol class="carousel-indicators">
        {% for f in carousel_files %}
          {% if forloop.index0 == 0 %}
            <li data-target="#carousel-example-generic" data-slide-to="{{forloop.index0}}" class="active"></li>
          {% else %}
            <li data-target="#carousel-example-generic" data-slide-to="{{forloop.index0}}"></li>
          {% endif %}
        {% endfor %}
        </ol>
        {% endif %}

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
        {% for f in carousel_files %}
          {% if forloop.index0 == 0 %}
            {% assign class = "item active" %}
          {% else %}
            {% assign class = "item" %}
          {% endif %}
          <div class="{{class}}">
            <img class="img-responsive img-rounded" src="{{f}}" alt="carousel {{forloop.index}}">
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>


  <div class="row" style="margin-top:25px;">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Overview</h4>
        </div>
        <div class="panel-body">
          <p>CNRS-AIST JRL (Joint Robotics Laboratory), UMI3218/RL is a joint laboratory established between a French public organization CNRS (Centre National de la Recherche Scientifique) and AIST and located at Intelligent Systems Research Institute of the AIST at Tsukuba. The researchers from both countries are closely collaborating to pursue means of increasing robot’s functional autonomy, especially using the humanoid platform.</p>
          <p>The main research subjects include: task and motion planning and control, multimodal interaction with human and surrounding environment through perception, and cognitive robotics. We host always more than ten foreign researchers, which characterizes the international atmosphere of this research group. We are actively conducting international collaborative research with French CNRS laboratories and also with research institutes through international research projects including EU projects.</p>
          <p>The framework is identified as the Unité Mixte Internationale (UMI, International Joint Research Unit) for CNRS and concurrently as a Research Laboratory (RL) for AIST, and defined as UMI/RL.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- Projects Section -->
  <div class="row row-centered">
    <div class="col-lg-12 col-centered">
      <h2 class="page-header">Projects</h2>
    </div>
    {% assign sorted_projects = site.data.projects | sort: 'id' %}
    {% for project in sorted_projects %}
    {% if project.active == true %}
    <div class="col-md-3 col-xs-6 col-centered">
      <a href="project-{{project.id}}.html" data-toggle="tooltip" title="{{project.title}} - {{project.longtitle}}">
        <img class="img-responsive img-portfolio img-hover" src="/assets/projects/{{project.id}}.png" alt="{{project.title}} - {{project.longtitle}}">
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->

