---
layout: default
title: CNRS-AIST JRL - Members
---

<!-- Page Content -->
<div class="container">

  {% include breadcrumbs.html breadcrumbs="Members" title="Members" %}

  <!-- Intro Content -->
  <div class="row row-eq-height">
    <div class="col-md-6 col-eq-height">
      <a href="/assets/pictures/jrl-team-picture.jpg" data-toggle="lightbox">
        <img class="img-responsive img-rounded" src="/assets/pictures/jrl-team-picture.jpg" alt="">
      </a>
    </div>
    <div class="col-md-6 col-eq-height">
      <h2>About the JRL</h2>
        <p>CNRS-AIST JRL (Joint Robotics Laboratory), UMI3218/RL is a joint laboratory established between a French public organization CNRS (Centre National de la Recherche Scientifique) and AIST and located at Intelligent Systems Research Institute of the AIST at Tsukuba. The researchers from both countries are closely collaborating to pursue means of increasing robot’s functional autonomy, especially using the humanoid platform.</p>
        <p>The main research subjects include: task and motion planning and control, multimodal interaction with human and surrounding environment through perception, and cognitive robotics. We host always more than ten foreign researchers, which characterizes the international atmosphere of this research group. We are actively conducting international collaborative research with French CNRS laboratories and also with research institutes through international research projects including EU projects.</p>
        <p>The framework is identified as the Unité Mixte Internationale (UMI, International Joint Research Unit) for CNRS and concurrently as a Research Laboratory (RL) for AIST, and defined as UMI/RL.</p>
    </div>
  </div>
  <!-- /.row -->

  <!-- Co-directors -->
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">Co-directors</h3>
    </div>
    <div class="col-md-2"></div>
    {% for member in site.data.members %}
    {% if member.role == "co-director" %}
    {% include member_summary.html member=member %}
    {% endif %}
    {% endfor %}
    <div class="col-md-2"></div>
  </div>

  <!-- Team Members -->
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">Our Team</h3>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        <div class="caption">
          <h3>John Smith<br>
            <small>Job Title</small>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        <div class="caption">
          <h3>John Smith<br>
            <small>Job Title</small>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        <div class="caption">
          <h3>John Smith<br>
            <small>Job Title</small>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        <div class="caption">
          <h3>John Smith<br>
            <small>Job Title</small>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        <div class="caption">
          <h3>John Smith<br>
            <small>Job Title</small>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        <div class="caption">
          <h3>John Smith<br>
            <small>Job Title</small>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->

