<p align="justify">
Most members of our lab are bilingual (some are quadrilingual!),
hence, we encourage Japanese-speaking as well as English-speaking students to join our lab.
</p>
<p align="justify">
<b>The lab is always looking for talented and motivated graduate students to join our group. Students must be accepted to the Master's or
Doctoral Program in <a href="https://www.imis.tsukuba.ac.jp/admission">Intelligent and Mechanical Interaction Systems (IMIS)</a>,
University of Tsukuba through the regular admission procedure (examinations held in summer and winter).</b>
</p>
<p align="justify">
<b>If you're interested, please contact the lab or Prof. Kanehiro directly before you start the application procedure.</b>
</p>

<p align="justify">(This page is maintained by current students.)</p>

