<!-- Page Heading / Breadcrumbs -->
<div class="breadcrumbs-container bg-dark py-3 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Breadcrumb Navigation -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-2">
            <li class="breadcrumb-item">
              <a href="{{ site.baseurl }}/index.html">{% t pages.home %}</a>
            </li>

            {%- if include.crumbs -%}
              {%- for cr in include.crumbs -%}
                <li class="breadcrumb-item">{{ cr }}</li>
              {%- endfor -%}
            {%- endif -%}

            <li class="breadcrumb-item active" aria-current="page">
              {%- if include.breadcrumbs -%}
                {{ include.breadcrumbs }}
              {%- else -%}
                {{ include.title }}
              {%- endif -%}
            </li>
          </ol>
        </nav>

        <!-- Page Header -->
        <h1 class="page-header">{{include.title}}
          {%- if include.subtitle -%}<small>{{include.subtitle}}</small>{%- endif -%}
        </h1>

      </div>
    </div>
  </div>
</div>
