<!-- Page Heading/Breadcrumbs -->
<div class="breadcrumbs-container">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a>
        </li>
        {% if include.crumbs %}
        {% for cr in include.crumbs %}
        <li>{{cr}}</li>
        {% endfor %}
        {% endif %}
        {% if include.breadcrumbs %}
        <li class="active">{{include.breadcrumbs}}</li>
        {% else %}
        <li class="active">{{include.title}}</li>
        {% endif %}
      </ol>
      <h1 class="page-header">{{include.title}}
        {% if include.subtitle %}<small>{{include.subtitle}}</small>{% endif %}
      </h1>
    </div>
  </div>
  <!-- /.row -->
</div>
</div>
