{% for m in site.data.members %}
  {% if m.id == include.id %}
    {% assign member = m %}
    {% break %}
  {% endif %}
{% endfor %}
{% capture member_full_name %}{{member.given}} {{member.family}}{% endcapture %}
<!-- Page Content -->
<div class="container">
  {% if member.website %}
  {% capture subtitle %}<br/><a href="{{member.website}}" target="blank_">Personal website <span class="glyphicon glyphicon-globe" style="font-size: small;"</span></a>{% endcapture %}
  {% endif %}
  {% capture crumbs %}<a href="members.html">Members</a>{% endcapture %}
  {% assign crumbs = crumbs | split: "," %}
  {% include breadcrumbs.html crumbs=crumbs breadcrumbs=member_full_name title=member_full_name subtitle=subtitle %}

  <!-- Portfolio Item Row -->
  <div class="row row-eq-height">
    {% capture member_assets %}/assets/members/{{member.id}}/{% endcapture %}
    {% for f in site.static_files %}
      {% assign f_base = f.path | remove_first: member_assets %}
      {% if f_base != f.path %}
        {% if carousel_files %}
        {% capture carousel_files %}{{carousel_files}},{{f.path}}{% endcapture %}
        {% else %}
          {% assign carousel_files = f.path %}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% unless carousel_files %}
      {% capture carousel_files %}/assets/members/{{member.id}}.jpg{% endcapture %}
    {% endunless %}
    {% assign carousel_files = carousel_files | split: "," %}
    {% assign carousel_files_size = carousel_files | size %}
    <div class="col-md-6 col-eq-height">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        {% if carousel_files_size != 1 %}
        <!-- Indicators -->
        <ol class="carousel-indicators">
        {% for f in carousel_files %}
          {% if forloop.index0 == 0 %}
            <li data-target="#carousel-example-generic" data-slide-to="{{forloop.index0}}" class="active"></li>
          {% else %}
            <li data-target="#carousel-example-generic" data-slide-to="{{forloop.index0}}"></li>
          {% endif %}
        {% endfor %}
        </ol>
        {% endif %}

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
        {% for f in carousel_files %}
          {% if forloop.index0 == 0 %}
            {% assign class = "item active" %}
          {% else %}
            {% assign class = "item" %}
          {% endif %}
          <div class="{{class}}">
            <img class="img-responsive" src="{{f}}" alt="">
          </div>
        {% endfor %}
        </div>

        {% if carousel_files_size != 1 %}
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        {% endif %}
      </div>
    </div>

    <div class="col-md-6 col-eq-height">
      <h3>Bio</h3>
      {{member.bio}}
    </div>

  </div>
  <!-- /.row -->

  <!-- Publications row -->
  <div class="row">

    <div class="col-lg-12">
      {% if member.selected_publications %}
        <h3 class="page-header">Selected Publications</h3>
        {% include publications_table.html publications_id=member.selected_publications %}
      {% else %}
        <h3 class="page-header">Publications</h3>
        {% include publications_table.html member_id=member.id%}
      {% endif %}
    </div>

  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
