{% for p in site.data.projects %}
  {% if p.id == include.id %}
    {% assign project = p %}
  {% endif %}
{% endfor %}
<!-- Page Content -->
<div class="container">

  {% if project.url %}
  {% capture subtitle %}<br/><a href="{{project.url}}" target="blank_">{{project.longtitle}} <span class="glyphicon glyphicon-globe" style="font-size: small;"</span></a>{% endcapture %}
  {% else %}
    {% capture subtitle %}<br/>{{project.longtitle}}{% endcapture %}
  {% endif %}
  {% if project.longtitle != project.title %}
    {% capture bc %}{{project.title}} - {{project.longtitle}} {% endcapture %}
  {% else %}
    {% capture bc %}{{project.title}}{% endcapture %}
  {% endif %}
  {% include breadcrumbs.html breadcrumbs=bc title=project.title subtitle=subtitle %}

  <!-- Portfolio Item Row -->
  <div class="row row-eq-height">
    {% capture project_assets %}/assets/projects/{{project.id}}/{% endcapture %}
    {% for f in site.static_files %}
      {% assign f_base = f.path | remove_first: project_assets %}
      {% if f_base != f.path %}
        {% if carousel_files %}
        {% capture carousel_files %}{{carousel_files}},{{f.path}}{% endcapture %}
        {% else %}
          {% assign carousel_files = f.path %}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% unless carousel_files %}
      {% capture carousel_files %}/assets/projects/{{project.id}}.png{% endcapture %}
    {% endunless %}
    {% assign carousel_files = carousel_files | split: "," %}
    {% assign carousel_files_size = carousel_files | size %}

    <div class="col-md-6 col-middle">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        {% if carousel_files_size != 1 %}
        <!-- Indicators -->
        <ol class="carousel-indicators">
        {% for f in carousel_files %}
          {% if forloop.index0 == 0 %}
            <li data-target="#carousel-example-generic" data-slide-to="{{forloop.index0}}" class="active"></li>
          {% else %}
            <li data-target="#carousel-example-generic" data-slide-to="{{forloop.index0}}"></li>
          {% endif %}
        {% endfor %}
        </ol>
        {% endif %}

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
        {% for f in carousel_files %}
          {% if forloop.index0 == 0 %}
            {% assign class = "item active" %}
          {% else %}
            {% assign class = "item" %}
          {% endif %}
          <div class="{{class}}">
            <img class="img-responsive" src="{{f}}" alt="">
          </div>
        {% endfor %}
        </div>

        {% if carousel_files_size != 1 %}
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        {% endif %}
      </div>
    </div>

    <div class="col-md-6 col-middle">
      <h3>Project Description</h3>
      {{project.description}}
    </div>

  </div>
  <!-- /.row -->

  {% if project.videos %}
  <!-- Videos -->
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">Videos</h3>
    </div>
      {% for video in project.videos %}
        <div class="col-sm-3 text-center">
          <a href="{{video.url}}" data-toggle="lightbox" data-gallery="videos" data-title="{{video.title}}">
            <img src="{{video.img}}" class="img-responsive"><br/>{{video.title}}
          </a>
        </div>
      {% endfor %}
  </div>
  <!-- /.row -->
  {% endif %}

  <!-- Publications row -->
  <div class="row">

    <div class="col-lg-12">
      <h3 class="page-header">Related Publications (including JRL contributions)</h3>

      {% include publications_table.html project_id=include.id %}
    </div>

  </div>
  <!-- /.row -->

  <!-- Partners row -->
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">Partners</h3>
    </div>

    {% for p_id in project.partners %}
      {% assign bla = forloop.index0 %}
      {% for partner in site.data.partners %}
        {% if partner.id == p_id %}
        <div class="col-lg-4 col-sm-3 col-xs-6" style="text-align:center;">
            <a href="{{partner.website}}">
              {{partner.name}}{% if partner.shortname %} ({{ partner.shortname }}){% endif %}<br/>
              <img class="center-block img-responsive img-hover img-related" src="{{partner.logo}}" alt="{{partner.name}} logo" style="width:50%;"><br/><br/>
            </a>
          </div>
          {% if bla == 3 %}
          <div class="clearfix visible-xs"></div>
              <div class="clearfix visible-sm"></div>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
