{%- for p in site.data.projects -%}
  {%- if p.id == include.id -%}
    {%- assign project = p -%}
  {%- endif -%}
{%- endfor -%}

{%- if project.url -%}
  {%- if site.lang == "jp" and project.longtitle-jp -%}
    {%- capture subtitle -%}<br/><a href="{{project.url}}" target="_blank">{{project.longtitle-jp}} <i class="bi bi-globe" style="font-size: small;"></i></a>{%- endcapture -%}
  {%- else -%}
    {%- capture subtitle -%}<br/><a href="{{project.url}}" target="_blank">{{project.longtitle}} <i class="bi bi-globe" style="font-size: small;"></i></a>{%- endcapture -%}
  {%- endif -%}
{%- else -%}
  {%- if site.lang == "jp" and project.longtitle-jp -%}
    {%- capture subtitle -%}<br/>{{project.longtitle-jp}}{%- endcapture -%}
  {%- else -%}
    {%- capture subtitle -%}<br/>{{project.longtitle}}{%- endcapture -%}
  {%- endif -%}
{%- endif -%}

{%- if project.longtitle != project.title -%}
  {%- if site.lang == "jp" and project.longtitle-jp -%}
    {%- capture bc -%}{{project.title}} - {{project.longtitle-jp}}{%- endcapture -%}
  {%- else -%}
    {%- capture bc -%}{{project.title}} - {{project.longtitle}}{%- endcapture -%}
  {%- endif -%}
{%- else -%}
  {%- capture bc -%}{{project.title}}{%- endcapture -%}
{%- endif -%}

{%- include breadcrumbs.html breadcrumbs=bc title=project.title subtitle=subtitle -%}

<!-- Page Content -->
<div class="container">
  <!-- Portfolio Item Row -->
  <div class="row row-eq-height">
    {%- capture project_assets -%}/assets/projects/{{project.id}}/{%- endcapture -%}
    {%- for f in site.static_files -%}
      {%- assign f_base = f.path | remove_first: project_assets -%}
      {%- if f_base != f.path -%}
        {%- if carousel_files -%}
          {%- capture carousel_files -%}{{carousel_files}},{{site.baseurl_root}}{{f.path}}{%- endcapture -%}
        {%- else -%}
          {%- capture carousel_files -%}{{site.baseurl_root}}{{f.path}}{%- endcapture -%}
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
    {%- unless carousel_files -%}
      {%- capture carousel_files -%}{{site.baseurl_root}}/assets/projects/{{project.id}}.png{%- endcapture -%}
    {%- endunless -%}
    {%- assign carousel_files = carousel_files | split: "," -%}
    {%- assign carousel_files_size = carousel_files | size -%}

    <div class="col-lg-6 col-md-6 col-12">
      <div id="carousel-example-generic" class="carousel slide" data-bs-ride="carousel">
        
        {%- if carousel_files_size != 1 -%}
        <!-- Indicators -->
        <ol class="carousel-indicators">
          {%- for f in carousel_files -%}
            {%- if forloop.index0 == 0 -%}
              <li data-bs-target="#carousel-example-generic" data-bs-slide-to="{{ forloop.index0 }}" class="active"></li>
            {%- else -%}
              <li data-bs-target="#carousel-example-generic" data-bs-slide-to="{{ forloop.index0 }}"></li>
            {%- endif -%}
          {%- endfor -%}
        </ol>
        {%- endif -%}

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          {%- for f in carousel_files -%}
            {%- if forloop.index0 == 0 -%}
              {%- assign class = "carousel-item active" -%}
            {%- else -%}
              {%- assign class = "carousel-item" -%}
            {%- endif -%}
            <div class="{{class}}">
              <img class="d-block w-100" src="{{f}}" alt="carousel {{forloop.index}}">
            </div>
          {%- endfor -%}
        </div>

        {%- if carousel_files_size != 1 -%}
        <!-- Controls -->
        <a class="carousel-control-prev" href="#carousel-example-generic" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-generic" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
        {%- endif -%}
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-12">
      <h3>{% t project-page.description %}</h3>
      {% if site.lang == "jp" and project.description-jp %}
        {{ project.description-jp }}
      {% else %}
        {{ project.description }}
      {%- endif -%}

      {%- if project.pi -%}
      <h4>PI</h4>
      {%- for m in site.data.members -%}
        {%- if m.id == project.pi -%}
          {%- assign member = m -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}
      {%- capture member_page -%}members/member-{{member.id}}.html{%- endcapture -%}
      {%- capture member_page_url -%}{{site.baseurl}}/{{member_page}}{%- endcapture -%}
      <a href="{{member_page_url}}">{{member.given}} {{member.family}}</a>
      {%- endif -%}

      <h4>{% t project-page.period %}</h4>
      {{ project.year-start }} - {{ project.year-end }}

      {%- if project.funding -%}
      <h4>{% t project-page.funding %}</h4>
      {% if site.lang == "jp" and project.funding-jp %}
        {{ project.funding-jp }}
      {% else %}
        {{ project.funding }}
      {%- endif -%}
      {%- endif -%}
    </div>
  </div>

  {%- if project.videos -%}
  <!-- Videos Section -->
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">Videos</h3>
    </div>
    {%- for video in project.videos -%}
    <div class="col-sm-3 text-center">
      <a href="{{ video.url }}" target="_blank" data-bs-toggle="lightbox" data-bs-gallery="videos" data-bs-title="{{ video.title }}">
        <img src="{{ video.img }}" class="img-fluid" alt="{{ video.title }} snapshot">
        <br/>{{ video.title }}
      </a>
    </div>
    {%- endfor -%}
  </div>
  {%- endif -%}

  <!-- Publications Section -->
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">{% t project-page.publications %}</h3>
      {%- include publications_table.html project_id=include.id -%}
    </div>
  </div>

  <!-- Partners Section -->
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">{% t project-page.partners %}</h3>
    </div>
    {%- for p_id in project.partners -%}
      {%- assign bla = forloop.index0 -%}
      {%- for partner in site.data.partners -%}
        {%- if partner.id == p_id -%}
        <div class="col-lg-4 col-md-3 col-sm-4 col-6 text-center">
          <a href="{{ partner.website }}">
            {{ partner.name }}{%- if partner.shortname -%} &nbsp;({{ partner.shortname }}){%- endif -%}<br/>
            <img class="center-block img-fluid" src="{{site.baseurl_root}}{{ partner.logo }}" alt="{{ partner.name }} logo" style="width: 50%;">
          </a>
        </div>
        {%- if bla == 3 -%}
          <div class="clearfix d-block d-sm-none"></div>
        {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endfor -%}
  </div>
</div>
<!-- /.container -->
