<p align="justify">
ヒューマノイド研究室は、<a href="https://www.tsukuba.ac.jp/education/g-courses-g-list-prev-cooperatives/">連携大学院制度</a>によって筑波大学メインキャンパスから約5kmの産総研にあるCNRS-AIST JRLに設置された筑波大学の研究室です。金広教授（連携大学院）の指導のもと、大学院生が技術研修生・<a href="https://www.aist.go.jp/aist_j/business/alliance/ra/ra_index.html">RA</a>としてJRLに所属することができます。
</p>
<p align="justify">
この研究室では、大学院生が国内外の研究者とともに、さまざまなロボットを用いて様々な研究テーマに取り組むことができるユニークな機会を提供しています。主な研究テーマは、タスクや動作のプランニング、制御、人間や周辺環境とのマルチモーダルインタラクション、認知ロボティクスなどです。研究室のほとんどのメンバーはバイリンガルなので、日本語を話す学生だけでなく、英語を話す学生も研究室に参加することを推奨しています。
</p>
