<!-- Page Content -->
<div class="container">

  <table border="0" width="100%">
    <tbody>
      <tr>
	<td>
	  <h4><i>JRLメンバーとなる様々な方法があります</i></h4>
	</td>
      </tr>

      <tr><td style="padding-top: 10px">
	  <h3>常勤職員</h3>
      </td></tr>

      <tr><td>
	  産総研常勤職員の採用情報は<a href="https://www.aist.go.jp/aist_j/humanres/index.html">こちら</a>に掲載されています。通常年２回、春と秋に公募が行われます。JRLは情報・人間工学領域に所属しているため、同領域の採用情報をご確認ください。応募を検討されている場合は、事前に<a href="{{site.baseurl}}/contact.html">ご連絡</a>いただくことを推奨します。
	  <br>
      </td></tr>

      <tr><td style="padding-top: 10px">
	  <h3>客員研究員</h3>
      </td></tr>
      <tr><td>
	  客員研究員としての滞在を希望される場合は、<a href="{{site.baseurl}}/contact.html">ご連絡</a>ください。<br>JRLはJSPSフェローをホストすることができますので、<a href="https://www.jsps.go.jp/j-pd/">JSPS特別研究員</a>や<a href="https://www.jsps.go.jp/j-fellow/">JSPS外国人特別研究員</a>、<a href="https://www.jsps.go.jp/j-inv/">JSPS外国人招へい研究者</a>への応募を希望される場合は<a href="{{site.baseurl}}/contact.html">ご連絡</a>ください。
	  <br>
      </td></tr>

      <tr><td style="padding-top: 10px">
	  <h3>契約職員</h3>
      </td></tr>
      <tr><td>
	  ポスドクやテクニカルスタッフ等の契約職員を募集している場合があります。採用情報は<a href="https://unit.aist.go.jp/hrd/keiyaku_koubo/tkb.html">こちらのページ</a>の情報・人間工学領域の部分で確認できます。
	  <br>
      </td></tr>

      <tr><td style="padding-top: 10px">
	  <h3>学生</h3>
	  <h4><a href="{{site.baseurl}}/humanoid_lab.html">(筑波大学ヒューマノイド研究室は<i>こちら</i>)</a></h4>
      </td></tr>
      <tr><td>
	  学生は産総研技術研修生としてJRLに在籍することができます。また優秀な技術研修生は<a href="https://www.aist.go.jp/aist_j/business/alliance/ra/ra_index.html">産総研リサーチアシスタント</a>として雇用される場合があります。どの大学の学生も技術研修生としてJRLに在籍することが可能ですが、以下の大学についてはJRL研究者の指導の元、で修士や博士の研究を行い、学位を取得することが可能です。<br>
	  <ul>
	    <li style="margin-top: 1em"><b>筑波大学</b><br>
	      常勤職員の何名かは<a href="https://www.tsukuba.ac.jp/">筑波大学</a>教員の身分を持っているため、筑波大学大学院に入学した修士や博士の学生がJRLで研究を行い、学位を取得することが可能です。<a href="{{site.baseurl}}/humanoid_lab.html">ヒューマノイド研究室</a>は<a href="https://www.tsukuba.ac.jp/education/g-courses-g-list-prev-cooperatives/">筑波大学連携大学院</a>の制度に基づいてJRLに設置されている研究室になります。
	    </li>
	    <li style="margin-top: 1em"><b>モンペリエ大学</b><br>
	      <a href="https://www.umontpellier.fr/en/">モンペリエ大学</a>の博士学生はJRLで博士の研究を行うことができます。JRLはフランス国外でモンペリエ大学博士学生が研究を行うことが可能な唯一のラボです。
	    </li>
	    <li style="margin-top: 1em"><b>その他のフランス大学</b><br>
	      他のフランス大学の学生も博士の研究の一部をJRLで実施することが可能です。詳細は<a href="{{site.baseurl}}/contact.html">お問い合わせ</a>ください。
	    </li>
	  </ul>

      <tr><td style="padding-top: 10px">
	  <h3>募集中の研究テーマ</h3>
      </td></tr>
      <tr><td>
	  現在、以下の研究テーマに取り組む学生を募集しています。<b>JRLで学位取得のための研究、またはその一部を行うことを希望される場合は<a href="{{site.baseurl}}/contact.html">ご連絡</a>ください。</b><br>
      </td></tr>

	  <br>
	  <br>

	  <table  class="table table-striped">
	    <thead>
        <tr>
		<th>テーマ名</th>
		<th>概要</th>
		<th>修士/博士</th>
		<th>必要な基礎知識</th>
        </tr>
	    </thead>
	    <tbody>
              {% for topic in site.data.topics %}
              <tr>
		<td><b>{{topic.title}}</b></td>
		<td>{{topic.description}}</td>
		<td>{{topic.grade}}</td>
		<td>{{topic.skills}}</td>
              </tr>
	      {% endfor %}
	    </tbody>
	  </table>
      </td></tr>

    </tbody>
  </table>
</div>
<!-- /.container -->
