// Heading Color
$heading: #303030;

// Text Color
$text: #707070;

// Gray Background
$bg-gray: #e7f2fd;

// Primary Color
$primary: #1583e9;

// White Color
$white: #ffffff;

// Dark Color
$dark: #000000;

// Border Color
$border: #ebebeb;

// Hover Color
$hover: #1583e9;

// Secondary Color
$secondary: #a6a6a6;
