---
layout: default
title: CNRS-AIST JRL
---

<div class="container">

<div class="row" style="margin-top:26px;">
  <div class="col-xs-6 col-xs-offset-3">
    <img class="img-responsive" src="assets/meetings/aura2017/banner.png" alt="Workshop AUR@ 2017 - Banner" />
  </div>
</div> <!-- row -->

<div class="row" style="margin-top:26px;">
  <div class="col-xs-3 col-xs-offset-2">
    <div class="list-group">
      <a href="aura-2017.html" class="list-group-item {% if page.active == "home" %}active{% endif %}">Home</a>
      <a href="aura-2017-schedule.html" class="list-group-item {% if page.active == "schedule" %}active{% endif %}">Schedule</a>
      <a href="aura-2017-access.html" class="list-group-item {% if page.active == "access" %}active{% endif %}">Access</a>
      <a href="aura-2017-attendees.html" class="list-group-item {% if page.active == "attendees" %}active{% endif %}">Attendees</a>
    </div>
  </div>

  <div class="col-xs-7">
{{content}}
  </div>
</div>

</div>
