<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% t lab-name %}</title>

  <!-- Bootstrap Core CSS -->
  <link href="{{site.baseurl_root}}/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bootstrap icons CSS -->
  <link href="{{site.baseurl_root}}/css/bootstrap-icons.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{{site.baseurl_root}}/css/modern-business.css" rel="stylesheet">

  <!-- Custom on top of custom CSS -->
  <link href="{{site.baseurl_root}}/css/jrl.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{{site.baseurl_root}}/font-awesome/css/all.min.css" rel="stylesheet">

  <!-- Flag CSS -->
  <link href="{{site.baseurl_root}}/css/flag-icon.min.css" rel="stylesheet">

  <!-- Ekko lightbox -->
  <link href="{{site.baseurl_root}}/css/ekko-lightbox.min.css" rel="stylesheet">

  {{layout.header}}
  {{page.header}}

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
  <link rel="apple-touch-icon" sizes="57x57" href="{{site.baseurl_root}}/assets/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl_root}}/assets/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{site.baseurl_root}}/assets/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl_root}}/assets/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114"
    href="{{site.baseurl_root}}/assets/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120"
    href="{{site.baseurl_root}}/assets/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144"
    href="{{site.baseurl_root}}/assets/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152"
    href="{{site.baseurl_root}}/assets/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180"
    href="{{site.baseurl_root}}/assets/favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="{{site.baseurl_root}}/assets/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{site.baseurl_root}}/assets/favicons/android-chrome-192x192.png"
    sizes="192x192">
  <link rel="icon" type="image/png" href="{{site.baseurl_root}}/assets/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="{{site.baseurl_root}}/assets/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="{{site.baseurl_root}}/assets/favicons/manifest.json">
  <link rel="mask-icon" href="{{site.baseurl_root}}/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="{{site.baseurl_root}}/assets/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="{{site.baseurl_root}}/assets/favicons/mstile-144x144.png">
  <meta name="msapplication-config" content="{{site.baseurl_root}}/assets/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- jQuery -->
  <script src="{{site.baseurl_root}}/js/jquery.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{{site.baseurl_root}}/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg position-fixed top-0 w-100">
    <div class="container">
      <a class="navbar-brand" href="{{site.baseurl}}/{{site.index_name}}">
        <img src="{{site.baseurl_root}}/assets/cnrs-aist.png" alt="logos" />
        {%- capture title -%}{% t lab-name %}{%- endcapture -%}
        {%- if page.title -%}
        {%- capture title -%}{{title}} - {% t page.title %}{%- endcapture -%}
        {%- endif -%}
        {{title}}
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{site.baseurl}}/news.html">{% t pages.news %}</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {% t pages.projects %}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {%- assign sorted_projects = site.data.projects | sort: 'id' -%}
              {%- for project in sorted_projects -%}
              {%- if project.active == true -%}
              <li>
                <a class="dropdown-item"
                  href="{{site.baseurl}}/projects/project-{{ project.id }}.html">{{project.title}}</a>
              </li>
              {%- endif -%}
              {%- endfor -%}
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="{{site.baseurl}}/past-projects.html">{% t pages.past-projects %}</a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{site.baseurl}}/members.html">{% t pages.members %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{site.baseurl}}/robots.html">{% t pages.robots %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{site.baseurl}}/publications.html">{% t pages.publications %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{site.baseurl}}/humanoid_lab.html">{% t pages.HL %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{site.baseurl}}/join_us.html">{% t pages.join %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{site.baseurl}}/contact.html">{% t pages.contact %}</a>
          </li>
          <li class="nav-item">
            {% for lang in site.languages %}
            {% capture lang_folder %}/{{ lang }}{% endcapture %}
            {% capture LANG %}{{ lang | upcase }}{% endcapture %}

            {% if site.lang != lang %}
            <a href="{{ site.baseurl_root }}{{ lang_folder }}{{ page.url }}"
              class="nav-link active text-white fw-semibold" style="display:inline;">
              {{ LANG }}
            </a>
            {% else %}
            <span class="nav-link fw-bold" style="display:inline;">
              {{ LANG }}
            </span>
            {% endif %}

            {% unless forloop.last %}
            <span class="fw-bold text-white">|</span>
            {% endunless %}
            {% endfor %}
          </li>

        </ul>
      </div>
    </div>
    <!-- /.navbar-collapse -->
    <!-- /.container -->
  </nav>

  {{ content }}

  <div class="container">
    <!-- Footer -->
    <footer>
      <hr>
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright &copy; CNRS-AIST JRL 2016-2026</p>
        </div>
      </div>
    </footer>
  </div>
  <!-- /.container -->

  <!-- Ekko lightbox js -->
  <script src="{{site.baseurl_root}}/js/ekko-lightbox.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function ($) {

      // delegate calls to data-toggle="lightbox"
      $(document).delegate('*[data-toggle="lightbox"]:not([data-gallery="navigateTo"])', 'click', function (event) {
        event.preventDefault();
        return $(this).ekkoLightbox({
          onShown: function () {
            if (window.console) {
              return console.log('onShown event fired');
            }
          },
          onContentLoaded: function () {
            if (window.console) {
              return console.log('onContentLoaded event fired');
            }
          },
          onNavigate: function (direction, itemIndex) {
            if (window.console) {
              return console.log('Navigating ' + direction + '. Current item: ' + itemIndex);
            }
          }
        });
      });

      //Programatically call
      $('#open-image').click(function (e) {
        e.preventDefault();
        $(this).ekkoLightbox();
      });
      $('#open-youtube').click(function (e) {
        e.preventDefault();
        $(this).ekkoLightbox();
      });

      $(document).delegate('*[data-gallery="navigateTo"]', 'click', function (event) {
        event.preventDefault();
        return $(this).ekkoLightbox({
          onShown: function () {
            var lb = this;
            $(lb.modal_content).on('click', '.modal-footer a', function (e) {
              e.preventDefault();
              lb.navigateTo(2);
            });
          }
        });
      });

    });

    window.addEventListener('DOMContentLoaded', () => {
      const nav = document.querySelector('.navbar-collapse');
      const content = document.querySelector('.home-banner-large');
      const navHeight = nav.offsetHeight;
      if (content) {
        content.style.paddingTop = `${navHeight}px`;
        document.querySelector("#index-links").style.setProperty("top", `${navHeight}px`, "important");
      }

    });
  </script>

</body>

</html>