<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CNRS-AIST Joint Robotics Laboratory (JRL)</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom on top of custom CSS -->
    <link href="css/jrl.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/all.min.css" rel="stylesheet">

    <!-- Academicons -->
    <link href="css/academicons.min.css" rel="stylesheet" type="text/css">

    <!-- Flag CSS -->
    <link href="css/flag-icon.min.css" rel="stylesheet">

    <!-- Ekko lightbox -->
    <link href="css/ekko-lightbox.min.css" rel="stylesheet">

    {{layout.header}}
    {{page.header}}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/assets/favicons/manifest.json">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/assets/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><img src="/assets/cnrs-aist.png" alt="logos"/>{%- if page.title -%}{{page.title}}{%- elsif layout.title -%}{{layout.title}}{%- else -%}CNRS-AIST JRL{%- endif -%}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="news.html">News</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {%- assign sorted_projects = site.data.projects | sort: 'id' -%}
                {%- for project in sorted_projects -%}
                {%- if project.active == true -%}
                <li>
                <a href="project-{{ project.id }}.html">{{project.title}}</a>
                </li>
                {%- endif -%}
                {%- endfor -%}
                <li role=separator class=divider></li>
                <li>
                  <a href="past-projects.html">Past projects</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="members.html">Members</a>
            </li>
            <li>
              <a href="publications.html">Publications</a>
            </li>
            <li>
              <a href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>

    {{ content }}

    <div class="container">
      <!-- Footer -->
      <footer>
        <hr>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; CNRS-AIST JRL 2016-2021</p>
          </div>
        </div>
      </footer>
    </div>
    <!-- /.container -->

    <!-- Script to Activate the Carousel -->
    <script>
$('.carousel').carousel({
  interval: 5000 //changes the speed
})
    </script>

    <!-- Ekko lightbox js -->
    <script src="js/ekko-lightbox.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function ($) {

        // delegate calls to data-toggle="lightbox"
        $(document).delegate('*[data-toggle="lightbox"]:not([data-gallery="navigateTo"])', 'click', function(event) {
          event.preventDefault();
          return $(this).ekkoLightbox({
            onShown: function() {
              if (window.console) {
                return console.log('onShown event fired');
              }
            },
            onContentLoaded: function() {
              if (window.console) {
                return console.log('onContentLoaded event fired');
              }
            },
            onNavigate: function(direction, itemIndex) {
              if (window.console) {
                return console.log('Navigating '+direction+'. Current item: '+itemIndex);
              }
            }
          });
        });

        //Programatically call
        $('#open-image').click(function (e) {
          e.preventDefault();
          $(this).ekkoLightbox();
        });
        $('#open-youtube').click(function (e) {
          e.preventDefault();
          $(this).ekkoLightbox();
        });

        $(document).delegate('*[data-gallery="navigateTo"]', 'click', function(event) {
          event.preventDefault();
          return $(this).ekkoLightbox({
            onShown: function() {
              var lb = this;
              $(lb.modal_content).on('click', '.modal-footer a', function(e) {
                e.preventDefault();
                lb.navigateTo(2);
              });
            }
          });
        });

      });
    </script>

  </body>

</html>
