<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Team Janus</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{site.baseurl_root}}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{site.baseurl_root}}/css/modern-business.css" rel="stylesheet">

    <!-- Custom on top of custom CSS -->
    <link href="{{site.baseurl_root}}/css/jrl.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{site.baseurl_root}}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Flag CSS -->
    <link href="{{site.baseurl_root}}/css/flag-icon.min.css" rel="stylesheet">

    <!-- Ekko lightbox -->
    <link href="{{site.baseurl_root}}/css/ekko-lightbox.min.css" rel="stylesheet">

    <link href="{{site.baseurl_root}}/css/janus.css" rel="stylesheet">
    <link rel="stylesheet" id="dynamicnewslite-default-fonts-css"  href="//fonts.googleapis.com/css?family=Droid+Sans%3A400%2C700%7CFrancois+One&#038;subset=latin%2Clatin-ext" type="text/css" media="all" />
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <link rel="apple-touch-icon" sizes="57x57" href="{{site.baseurl_root}}/assets/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl_root}}/assets/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{site.baseurl_root}}/assets/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl_root}}/assets/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl_root}}/assets/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{site.baseurl_root}}/assets/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{site.baseurl_root}}/assets/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl_root}}/assets/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl_root}}/assets/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="{{site.baseurl_root}}/assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{site.baseurl_root}}/assets/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{site.baseurl_root}}/assets/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{site.baseurl_root}}/assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{site.baseurl_root}}/assets/favicons/manifest.json">
    <link rel="mask-icon" href="{{site.baseurl_root}}/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="{{site.baseurl_root}}/assets/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{{site.baseurl_root}}/assets/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="{{site.baseurl_root}}/assets/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- jQuery -->
    <script src="{{site.baseurl_root}}/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{site.baseurl_root}}/js/bootstrap.min.js"></script>
    
  </head>

  <body>

    <div class="container">

      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <h1>Team Janus</h1>
          <span style="text-align:right;">
            <h3>CNRS-AIST JRL (Joint Robotics Laboratory), UMI3218/IRL</h3>
          </span>
        </div>
      </div> <!-- row -->

      <a id="content"></a>

      <div class="row" style="padding-top:60px;">
        <div class="col-xs-3">
          <div class="list-group">
            <a href="team-janus.html#content" class="list-group-item {%- if page.active == "introduction" -%}active{%- endif -%}">Introduction</a>
            <a href="team-janus-members.html#content" class="list-group-item {%- if page.active == "members" -%}active{%- endif -%}">Team Members</a>
            <a href="team-janus-robot.html#content" class="list-group-item {%- if page.active == "robot" -%}active{%- endif -%}">Avatar Robot</a>
          </div>
        </div>
            
        <div class="col-xs-9">
          {{content}}
        </div>

      </div>
      
    </div>
    
    <!-- Script to Activate the Carousel -->
    <script>
      $('.carousel').carousel({
        interval: 5000 //changes the speed
      })
    </script>

    <!-- Ekko lightbox js -->
    <script src="{{site.baseurl_root}}/js/ekko-lightbox.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function ($) {

        // delegate calls to data-toggle="lightbox"
        $(document).delegate('*[data-toggle="lightbox"]:not([data-gallery="navigateTo"])', 'click', function(event) {
          event.preventDefault();
          return $(this).ekkoLightbox({
            onShown: function() {
              if (window.console) {
                return console.log('onShown event fired');
              }
            },
            onContentLoaded: function() {
              if (window.console) {
                return console.log('onContentLoaded event fired');
              }
            },
            onNavigate: function(direction, itemIndex) {
              if (window.console) {
                return console.log('Navigating '+direction+'. Current item: '+itemIndex);
              }
            }
          });
        });

        //Programatically call
        $('#open-image').click(function (e) {
          e.preventDefault();
          $(this).ekkoLightbox();
        });
        $('#open-youtube').click(function (e) {
          e.preventDefault();
          $(this).ekkoLightbox();
        });

        $(document).delegate('*[data-gallery="navigateTo"]', 'click', function(event) {
          event.preventDefault();
          return $(this).ekkoLightbox({
            onShown: function() {
              var lb = this;
              $(lb.modal_content).on('click', '.modal-footer a', function(e) {
                e.preventDefault();
                lb.navigateTo(2);
              });
            }
          });
        });

      });
    </script>
      
  </body>

</html>
