---
layout: janus
title: Team Janus - Robot
---

<h3>Avatar robot</h3>

<p>We are using a bipedal humanoid robot as our avatar. Among all the geminoids existing worldwide, HRP-4C[1]  is  the  only  one  with  close-to-human  look  that  can effectively walk, manipulate objects, and realize facial expressions.  Therefore, we didn’t want to sacrifice the bipedal challenge with respect to efforts leaning moretoward  well-known  sensory  feedback  integration  in  anadvanced telepresence system.  Instead, we rather aim at demonstrating an avatar in the shape of human that is  (i)  easily  controllable,  (ii)  can  provide  rich  sensory feedback even with a reduced master station set-up, and (iii) can be an elegant solution in many applications.</p>

{% capture home_assets %}/en/assets/projects/janus/carousel/{% endcapture %}
{% for f in site.static_files %}
  {% assign f_base = f.path | remove_first: home_assets %}
  {% if f_base != f.path %}
    {% if carousel_files %}
    {% capture carousel_files %}{{carousel_files}},{{site.baseurl}}{{f.path}}{% endcapture %}
    {% else %}
      {%- capture carousel_files -%}{{site.baseurl}}{{f.path}}{%- endcapture -%}
    {% endif %}
  {% endif %}
{% endfor %}
{% assign carousel_files = carousel_files | split: "," %}
{% assign carousel_files_size = carousel_files | size %}

<div class="row" style="margin-top:30px;">
  <div class="col-xs-8 col-xs-offset-2">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      {% if carousel_files_size != 1 %}
      <!-- Indicators -->
      <ol class="carousel-indicators">
        {% for f in carousel_files %}
        {% if forloop.index0 == 0 %}
        <li data-target="#carousel-example-generic" data-slide-to="{{forloop.index0}}" class="active"></li>
        {% else %}
        <li data-target="#carousel-example-generic" data-slide-to="{{forloop.index0}}"></li>
        {% endif %}
        {% endfor %}
      </ol>
      {% endif %}
      
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        {% for f in carousel_files %}
        {% if forloop.index0 == 0 %}
        {% assign class = "item active" %}
        {% else %}
        {% assign class = "item" %}
        {% endif %}
        <div class="{{class}}">
          <img class="img-responsive img-rounded" src="{{f}}" alt="carousel {{forloop.index}}">
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<br/>

<p>[1] K. Kaneko et al. Cybernetic Human HRP-4C. In IEEE-RAS Humanoids, 2009.</p>
